* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333;
}

label {
   position: relative;
   top: -120px;
   width: 150px;
   height: 75px;
   background-color: #212121;
   border-radius: 10px;
}

label input {
   appearance: none;
}

label span {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 0;
   left: 0;
   width: 75px;
   height: 75px;
   background-color: #333;
   border: 6px solid #212121;
   border-radius: 10px;
   cursor: pointer;
   transition: .55s;
}
label span ion-icon {
   color: rgba(255, 255, 255, 0.25);
   font-size: 32px;
   transition: .5s;
}

label input:checked ~ span {
   left: 75px;
}

label input:checked ~ span ion-icon {
   color: #fff;
   filter:  drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
}

.bulb {
   position: absolute;
   top: 80px;
   left: 50%;
   transform: translate(-50%);
   width: 348px;
   height: 408px;
   pointer-events: none;
   background-image: url(./imgs/bulb_off.jpg);
   transition: 0.5s;
}
label input:checked ~ .bulb {
   background-image: url(./imgs/bulb_on.jpg);
}